@model IEnumerable<Project.Models.Request>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center text-info">Requests</h1>
        <hr />
        <div class="card shadow-sm p-3">
            <table class="table table-sm table-hover table-primary">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RequestDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QuantityRequest)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Justification)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RequestStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantityRequest)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Justification)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                            </td>
                            @if (User.IsInRole(WC.AdminRole) || User.IsInRole(WC.CoordinatorRole))
                            {
                                if (item.ApplicationUserId != UserManager.GetUserId(User))
                                {
                                    <td>
                                        <a asp-action="UpdateStatus" asp-route-id="@item.RequestId" class="btn btn-success btn-sm mx-1">Update Status</a> |
                                        <a asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-danger btn-sm mx-1">Delete</a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

